{% extends "main.html" %}
{% block content %}
<div class="container-fluid">
    <div class="col-md-12">
        <div class="row">
            <h3>{{user}}</h3>
        </div>
        <div class="row">
        <a class="btn btn-default" href="/items/getall/{{user}}"><span class="glyphicon glyphicon-list"></span>List all documents</a>
        <a class="btn btn-default" href="/items/getshared/{{user}}"><span class="glyphicon glyphicon-list"></span>List documents shared with someone</a>
        </div>
    </div>
</div>
{% endblock %}