{% extends "main.html" %}
{% block content %}
<div class="container-fluid">
    <div class="col-md-12">
        <div class="row">
            <h3>{{user}}</h3>
        </div>
        <div class="row">
        <a class="btn btn-default" href="/items/getall/{{user}}"><span class="glyphicon glyphicon-list"></span>List all documents</a>
        <a class="btn btn-default" href="/items/getshared/{{user}}"><span class="glyphicon glyphicon-list"></span>List documents shared with someone</a>
        </div>
    </div>
    <br>
    <a class="col-md-6 col-sm-6 col-xs-12 text-center div-nav" >
        <h1 class="text-center">
        <i class="glyphicon glyphicon-list glyphicon-xl"></i>
        <h3>List all documents</h3>
        </h1>
    </a>
    <a class="col-md-6 col-sm-6 col-xs-12 text-center div-nav" href="/items/getshared/{{user}}">
        <h1 class="text-center">
        <i class="glyphicon glyphicon-list glyphicon-xl"></i>
        <h3>List all documents shared with anyone</h3>
    </a>
</div>
{% endblock %}